{% extends './base.html' %}

{% load static %}

{% block title %}
    Profile
{% endblock title %}

{% block content %}
        <section class="user-panel profile-panel col-xs-12 col-md-4">
          <div class="panel-container">
            <div class="panel panel-default">
              <div class="panel-heading"><span class="picture-logo"><img src="{% static 'recowork/images/profile-steve.png' %}" alt=""></span><span class="user-full-name">Steve Thijssen</span><span class="job-title">Looking for a job</span></div>

              <div class="panel-body">
                <div class="stats">
                  <div class="col-xs-12 col-md-6">
                    <div class="circular-progress"></div>
                    <span class="description">Rec. Score</span>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <span class="amount">326</span>
                    <span class="description">Connection(s)</span>
                  </div>
                </div>
                <a href="#" class="blue-button type-1">Recommend</a>
                <div class="btn-group">
                  <button class="blue-button type-2" data-toggle="dropdown">Message <span class="caret"></span></button>

                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                     <li><a tabindex="-1" href="#">Send an email</a></li>
                     <li><a tabindex="-1" href="#">Poke</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="profile col-xs-12 col-md-8 col-md-offset-4">
          <div class="panel-container">
            <div class="panel panel-default">
              <div class="panel-heading">Background
              <img class="edit" src="{% static 'recowork/images/edit-icon.png' %}" alt=""></div>


              <div class="panel-body">
                <div class="block-intro block">
                  <h4 class="section-title introduction">INTRODUCTION</h4>
                  <img class="banner" src="{% static 'recowork/images/profile-banner.jpg' %}" alt="">
                  <span class="description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam imperdiet sem vel quam molestie, quis molestie sapien sagittis. Sed sit amet venenatis felis, eu tristique erat. Fusce commodo efficitur massa, sed fermentum erat lacinia gravida. Cras posuere scelerisque eros in tristique.</br></br>
                    Nulla facilisi. Quisque quis ex volutpat, lobortis risus sit amet, porttitor quam. Duis eget nulla hendrerit, aliquet risus a, sagittis quam.</br></br>
                  </span>
                </div>

                <div class="block-skills block">
                  <h4 class="section-title requirements">SKILLS</h4>
                  <div id="requirements-table" class="table-responsive">
                    <table class="table">
                      <tbody>
                        <tr>
                          <td class="col-fixed-width skill"><span>Javascript</span></td>
                          <td class="col-fixed-width first-col blue"><span></span></td>
                          <td class="col-fixed-width blue"><span></span></td>
                          <td class="col-fixed-width blue"><span>> 2 years</span></td>
                          <td class="col-fixed-width grey last-col col-4"><span></span></td>
                        </tr>
                        <tr>
                          <td class="col-fixed-width skill"><span>HTML</span></td>
                          <td class="col-fixed-width first-col blue"><span>> half a year</span></td>
                          <td class="col-fixed-width grey"><span></span></td>
                          <td class="col-fixed-width grey"><span></span></td>
                          <td class="col-fixed-width grey last-col col-4"><span></span></td>
                        </tr>
                        <tr>
                          <td class="col-fixed-width skill"><span>CSS</span></td>
                          <td class="col-fixed-width first-col blue"><span></span></td>
                          <td class="col-fixed-width blue"><span></span></td>
                          <td class="col-fixed-width blue"><span>> 2 years</span></td>
                          <td class="col-fixed-width grey last-col col-4"><span></span></td>
                        </tr>
                        <tr>
                          <td class="col-fixed-width skill"><span>Angular JS</span></td>
                          <td class="col-fixed-width first-col blue"><span></span></td>
                          <td class="col-fixed-width blue"><span></span></td>
                          <td class="col-fixed-width blue"><span></span></td>
                          <td class="col-fixed-width blue last-col col-4"><span>> 5 years</span></td>
                        </tr>
                        <tr>
                          <td class="col-fixed-width skill"><span>React JS</span></td>
                          <td class="col-fixed-width first-col blue"><span></span></td>
                          <td class="col-fixed-width blue"><span>> 2 years</span></td>
                          <td class="col-fixed-width grey"><span></span></td>
                          <td class="col-fixed-width grey last-col col-4"><span></span></td>
                        </tr>
                        <tr>
                          <td class="col-fixed-width skill"><span>Conceptin</span></td>
                          <td class="col-fixed-width first-col blue"><span></span></td>
                          <td class="col-fixed-width blue"><span></span></td>
                          <td class="col-fixed-width blue"><span>> 2 years</span></td>
                          <td class="col-fixed-width grey last-col col-4"><span></span></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

                <div class="block-exp-edu-ref block">
                  <h4 class="section-title experience">EXPERIENCE</h4>
                  <div class="group">
                    <span class="date">September 2015 - July 2019</span>
                    <div class="timeline">
                      <span class="line"></span>
                      <span class="circle-1"></span>
                      <span class="circle-2"></span>
                    </div>
                    <div class="square"></div>
                    <span class="job-title">Frontend Developper</span>
                    <span class="company">Bynder</span>
                    <span class="description">Sed sit amet venenatis felis, eu tristique erat. Fusce commodo efficitur massa, sed fermentum erat lacinia gravida. Cras posuere scelerisque eros in tristique.</span>
                  </div>
                  <div class="group">
                    <span class="date">September 2015 - July 2019</span>
                    <div class="timeline">
                      <span class="line"></span>
                      <span class="circle-1"></span>
                      <span class="circle-2"></span>
                    </div>
                    <div class="square"></div>
                    <span class="job-title">Frontend Developper</span>
                    <span class="company">Bynder</span>
                    <span class="description">Sed sit amet venenatis felis, eu tristique erat. Fusce commodo efficitur massa, sed fermentum erat lacinia gravida. Cras posuere scelerisque eros in tristique.</span>
                  </div>
                  <div class="group">
                    <span class="date">September 2015 - July 2019</span>
                    <div class="timeline">
                      <span class="line"></span>
                      <span class="circle-1"></span>
                      <span class="circle-2"></span>
                    </div>
                    <div class="square"></div>
                    <span class="job-title">Frontend Developper</span>
                    <span class="company">Bynder</span>
                    <span class="description">Sed sit amet venenatis felis, eu tristique erat. Fusce commodo efficitur massa, sed fermentum erat lacinia gravida. Cras posuere scelerisque eros in tristique.</span>
                  </div>
                </div>

                <div class="block-exp-edu-ref block">
                  <h4 class="section-title education">EDUCATION</h4>

                  <div class="group">
                    <span class="date">September 2015 - July 2019</span>
                    <div class="timeline">
                      <span class="line"></span>
                      <span class="circle-1"></span>
                      <span class="circle-2"></span>
                    </div>
                    <div class="square"></div>
                    <span class="job-title">Fontys University of Applied Sciences</span>
                    <span class="company">Information Technology & Media Design</span>
                    <span class="description">Sed sit amet venenatis felis, eu tristique erat. Fusce commodo efficitur massa, sed fermentum erat lacinia gravida. Cras posuere scelerisque eros in tristique.</span>
                  </div>

                  <div class="group">
                    <span class="date">September 2015 - July 2019</span>
                    <div class="timeline">
                      <span class="line"></span>
                      <span class="circle-1"></span>
                      <span class="circle-2"></span>
                    </div>
                    <div class="square"></div>
                    <span class="job-title">Fontys University of Applied Sciences</span>
                    <span class="company">Information Technology & Media Design</span>
                    <span class="description">Sed sit amet venenatis felis, eu tristique erat. Fusce commodo efficitur massa, sed fermentum erat lacinia gravida. Cras posuere scelerisque eros in tristique.</span>
                  </div>


                </div>

                <div class="block-exp-edu-ref block">
                  <h4 class="section-title reference">REFERENCE</h4>
                  <div class="group">
                    <span class="date">September 2015 - July 2019</span>
                    <div class="timeline">
                      <span class="line"></span>
                      <span class="circle-1"></span>
                      <span class="circle-2"></span>
                    </div>
                    <div class="circle"></div>
                    <span class="job-title">Fontys University of Applied Sciences</span>
                    <span class="company">Information Technology & Media Design</span>
                    <span class="description">Sed sit amet venenatis felis, eu tristique erat. Fusce commodo efficitur massa, sed fermentum erat lacinia gravida. Cras posuere scelerisque eros in tristique.</span>
                  </div>
                  <div class="group">
                    <span class="date">September 2015 - July 2019</span>
                    <div class="timeline">
                      <span class="line"></span>
                      <span class="circle-1"></span>
                      <span class="circle-2"></span>
                    </div>
                    <div class="circle"></div>
                    <span class="job-title">Fontys University of Applied Sciences</span>
                    <span class="company">Information Technology & Media Design</span>
                    <span class="description">Sed sit amet venenatis felis, eu tristique erat. Fusce commodo efficitur massa, sed fermentum erat lacinia gravida. Cras posuere scelerisque eros in tristique.</span>
                  </div>
                  <div class="group">
                    <span class="date">September 2015 - July 2019</span>
                    <div class="timeline">
                      <span class="line"></span>
                      <span class="circle-1"></span>
                      <span class="circle-2"></span>
                    </div>
                    <div class="circle"></div>
                    <span class="job-title">Fontys University of Applied Sciences</span>
                    <span class="company">Information Technology & Media Design</span>
                    <span class="description">Sed sit amet venenatis felis, eu tristique erat. Fusce commodo efficitur massa, sed fermentum erat lacinia gravida. Cras posuere scelerisque eros in tristique.</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
{% endblock content %}